/* Nav */
.logo img,
.logo {
  max-height: 100px;
  max-width: 100%;
}

.nav-link {
  color: #212121;
  font-size: 22px;
  padding: 0 0 2px !important;
  font-weight: 500;
}

.nav-link:hover {
  color: #bbded6;
  text-decoration: none;
  border-bottom: #bbded6 solid 1px;
}

.nav-selected {
  color: #bbded6;
  border-bottom: #bbded6 solid 1px;
}

#xsNavbar {
  background-color: #eee;
}

nav {
  padding: 0 !important;
  z-index: 3;
}

#mobile-nav-label {
  color: black;
  font-weight: 500;
}

#navbarMenu {
  top: 47px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#navbarMenu li {
  font-weight: 500;
  border-bottom: 1px solid #ccc;
  padding: 1em 0;
}

#navbarMenu li a {
  text-decoration: none;
  color: #212121;
  padding-left: 5em;
  padding-right: 5em;
}

/* Contact */
@media (min-width: 1200px) {
  #contactContainer {
    max-width: 1200px;
  }
}

.username a {
  color: #61c0bf;
}

.username a:hover {
  color: #bbded6 !important;
}


.socials i.fa-envelope {
  font-size: 18px;
  color:white;
  padding: 4px;
  background-color: #171717;
}

.socials i.fa-instagram {
  font-size: 18px;
  color:white;
  padding: 4px;
  background-color: #cd486b;
}

.socials i.fa-envelope:hover {
  opacity: 0.8;
}

.socials i.fa-instagram:hover {
  opacity: 0.8;
}

/* Portfolio */
.portfolio {
  display: flex;
  padding-top: 2em;
  flex-direction: column;
}

.portfolio img {
  max-width: 100%;
}

.portfolio img:hover {
  border: #212121 solid 1px;
}

@media (max-width: 576px) {
  #portfolio-container.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.portfolio-desc h3 {
  padding-top: 0.5em;
}

.portfolio-desc p {
  max-width: 100%;
}

@media (min-width: 577px) {
  .portfolio-desc p {
    max-width: 50%;
  }
}

#wizkids a,
#wizkids h3 {
  color: #598fbf !important;
}

#breakers a,
#breakers h3 {
  color: #20b2aa !important;
}

/* About Me Section */

@media (max-width: 576px) {
  #aboutMe {
    width: 100%;
    border-radius: 10px;
  }
}

@media (max-width: 991px) {
  #meVid video {
    max-width: 80%;
  }
}

#meVid video {
  max-width: 100%;
  margin-left: 5%;
}

#aboutMe {
  background-color: black;
  color: white;
  padding: 10px;
  position: absolute;
  z-index: 1;
  left: -20px;
  top: 150px;
  width: 80%;
}

#aboutMe p {
  font-size: 13px;
}

#aboutMe h2 {
  font-size: 24px;
}

@media (min-width: 767px) {
  #aboutMe {
    top: 200px;
    left: -30px;
  }

  #aboutMe p {
    font-size: 15px;
  }

  #aboutMe h2 {
    font-size: 32px;
  }
}

@media (min-width: 991px) {
  #aboutMe {
    top: 20px;
  }
}
